{%spaceless%}
<!DOCTYPE html>
<html>
    <head>
        <title>{%block cabecera%}{%endblock%}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" type="text/css" href="{{asset ('bundles/skyusuario/css/reset.css')}}" media="screen" />
        <link rel="stylesheet" type="text/css" href="{{asset ('bundles/skyusuario/css/estilo.css')}}" media="screen" />
        <script src="{{asset ('bundles/skyusuario/js/jquery-1.5.2.min.js')}}" type="text/javascript"></script>
        <script src="{{asset ('bundles/skyusuario/js/animacion.js')}}" type="text/javascript"></script>
    </head>
    <body>
        <header class="back-fondo">
            <div class="fondo"><a href="{{path('home')}}"><img src="{{asset ('bundles/skyusuario/img/sky.png')}}" alt="Sky" title="Sky"></a></div>
            <div class="fondo2">
                <span class="buscador2">
                    <input name="textfield" placeholder="Buscar..." type="search" id="textfield" size="40" maxlength="40" class="buscador"/>
                </span>
                <span class="botones">
                    <a href="#" class="button left">Perfil</a>
                    <a href="#" class="button middle">Grupos</a>
                    <a href="#" class="button middle">Agenda</a>
                    <a href="#" class="button right">Lugares</a>
                </span>
                <div id="menu" class="opc"><span id="usuario">{{ usuario.Nick }}</span>
                    <ul id="lista">
                        <li>Mis Datos</li>
                        <li>Mi configuracion de Perfil</li>
                        <li>Reportar un Bug</li>
                        <li><a href="{{path ('logout')}}">Cerrar Sesion</a></li>
                    </ul>
                </div>
            </div>
        </header>
        <div class="container2">
            <div class="modulo">
               {%block izquierda%}{%endblock%}</div>
                <div class="centro">
       {%block centro%}{%endblock%}</div>
                    <div class="modulo">
        {%block derecha%}{%endblock%}</div>
                    </div>
                    <footer class="fot">
                        <span class="abajoi"><a href="{{ path('mejorar') }}">Como mejorar mi uso</a></span>
                        <span class="abajoi"><a href="{{ path('plataforma') }}">Plataforma de Desarrollo</a></span>
                        <span class="abajoi"><a href="{{ path('contactanos') }}">Contactanos</a></span>
                    </footer>
                </body>
            </html>
{%endspaceless%}